{% if is_paginated %}
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item {%if not prev_url %}disabled{% endif %}">
        <a class="page-link" href="{{prev_url}}{% if search_query %}&search={{search_query}}{% endif %}" tabindex="-1">Previous</a>
      </li>
      {% for page in objs.paginator.page_range %}
        {% if page == objs.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="{?page={{page}}{% if search_query %}&search={{search_query}}{% endif %}">{{page}} 
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% elif page > objs.number|add:-3 and page < objs.number|add:3 %}
            <li class="page-item">
              <a class="page-link" href="?page={{page}}{% if search_query %}&search={{search_query}}{% endif %}">{{page}}</a>
            </li>
        {% endif %}
      {% endfor%}
      <li class="page-item {%if not next_url %}disabled{% endif %}">
        <a class="page-link" href="{{next_url}}{% if search_query %}&search={{search_query}}{% endif %}" tabindex="-1">Next</a>
      </li>
    </ul>
  </nav>
{% endif %}
